{% extends 'pos/user/base.html' %}
{% load static %}

{% block title_block %}
    <title>User Account</title>
{% endblock %}

{% block body_block %}
    <main>
        {% for message in messages %}
        <div class="message">
            {{ message }}
        </div>
        {% endfor %}

        <div class="main3">
            <div class="pill2">
                <div class="pill2_heading_group">
                    <p>BIO DETAILS</p>
                    <!-- <button class="btn-primary" id="bio">UPDATE DETAILS</button> -->
                </div>
                <div class="fieldset">
                    <div class="fieldgroup">
                        <div>
                            <label for="first_name">First Name</label>
                            <input id="first_name" type="text" value="{{ fname }}" readonly/>
                        </div>
                        <div>
                            <label for="surname">Surname</label>
                            <input id="surname" type="text" value="{{ lname }}" readonly/>
                        </div>
                    </div>
                    
                    <div class="fieldgroup">
                        <div>
                            <label for="username">Username</label>
                            <input id="username" type="text" value="{{ uname }}" readonly/>
                        </div>
                        <div>
                            <label for="email">Email Address</label>
                            <input id="email" type="text" value="{{ email }}" readonly/>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="pill2">
                <div class="pill2_heading_group">
                    <p>USER ACCOUNT DETAILS</p>
                    <button id="update_password_button" class="btn-primary">CHANGE PASSWORD</button>
                </div>
                <div class="fieldset">
                    <div class="fieldgroup">
                        <div>
                            <label for="current_password">Current Password</label>
                            <input id="current_password" value="********" type="password" readonly/>
                        </div>
                    </div>
                    <!-- Added another filedgroup but hidden to align the Flexbox appropriately -->
                    <div class="fieldgroup">
                        <div style="display: none;">
                            <label for="current_password2">Current Password</label>
                            <input id="current_password2" type="password"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div id="bio_modal" class="bio_modal">
            <div class="modal-content">
                <p>MODIFY BIO DETAILS</p>
                <form action="{% url 'pos:pos' %}" method="post" id="checkout-form">
                    {% csrf_token %}
                    <input type="hidden" name="checkout" value="true">
                    <div class="fieldWrapper">
                        <label for="first_name">First Name</label>
                        <input class="input" type="text" name="first_name" id="first_name" value="{{fname}}" required>
                    </div>
                    
                    <div class="fieldWrapper">
                        <label for="amountPaid">Surname</label>
                        <input class="input" type="text" name="surname" id="surname" value="{{lname}}" required>
                    </div>
                    
                    <div class="fieldWrapper">
                        <label for="balance">Username</label>
                        <input class="input" type="text" name="username" id="username" value="{{uname}}" readonly>
                    </div>
                    
                    <div class="fieldWrapper">
                        <label for="balance">Email Address</label>
                        <input class="input" type="text" name="balance" id="balance" value="{{email}}" readonly>
                    </div>

                    <div class="button-group">
                        <input class="btn-primary" type="submit" value="SAVE"/>
                        <button type="button" id="cancel-checkout" class="btn-secondary"> CANCEL </button>
                    </div>
                </form>
            </div>
        </div> -->

        <div id="update_password_modal" class="modal">
            <div class="modal-content">
                <p>MODIFY ACCOUNT DETAILS</p>
                <form action="{% url 'pos:change_password' %}" method="post" id="checkout-form">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        <label for="current_password">Current Password</label>
                        <input class="input" type="password" name="current_password" required>
                    </div>
                    
                    <div class="fieldWrapper">
                        <label for="new_password">New Password</label>
                        <input class="input" type="password" name="new_password" id="new_password" required>
                    </div>
                    
                    <div class="fieldWrapper">
                        <label for="new_password_2">Confirm New Password</label>
                        <input class="input" type="password" name="new_password_2" id="new_password_2" required>
                    </div>
                    
                    <div class="button-group">
                        <input class="btn-primary" type="submit" value="SAVE"/>
                        <button type="button" id="cancel" class="btn-secondary"> CANCEL </button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    {% block script_block %}
        <script type="text/javascript">
            const bio = document.getElementById("bio");
            const account = document.getElementById("account");
            // const bio_modal = document.getElementById("bio_modal");
            const update_password_modal = document.getElementById("update_password_modal");
            const update_password_button = document.getElementById("update_password_button");
            const cancel_button = document.getElementById("cancel");

            update_password_button.addEventListener('click', function() {
                update_password_modal.style.display = "block";
            });

            cancel_button.addEventListener('click', function() {
                update_password_modal.style.display = "none";
            });

            // window.onload = function () {
            //     modal.style.display = "block";
            // }

            cancel.onclick = function () {
                modal.style.display = "none";
            }

            // window.onclick = function(event) {
            //     if (event.target === modal) {
            //         location.href = "/pos/products/1";
            //     }
            // }

            product.onclick = function () {
                location.href = "/pos/products/1";
            };
        </script>
    {% endblock %}
{% endblock %}
