{% extends 'pos/user/base.html' %}
{% load static %}

{% block title_block %}
    <title>User Account</title>
{% endblock %}

{% block body_block %}
    <div class="main3">
        <div class="pill2">
            <div>
                <p>BIO DETAILS</p>
                <button id="bio">UPDATE DETAILS</button>
            </div>
            <div class="fieldset">
                <div class="fieldgroup">
                    <div>
                        <label for="first_name">First Name</label>
                        <input id="first_name" type="text"/>
                    </div>
                    <div>
                        <label for="first_name">Surname</label>
                        <input id="first_name" type="text"/>
                    </div>
                </div>
                
                <div class="fieldgroup">
                    <div>
                        <label for="first_name">Username</label>
                        <input id="first_name" type="text"/>
                    </div>
                    <div>
                        <label for="first_name">Email Address</label>
                        <input id="first_name" type="text"/>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="pill2">
            <div>
                <p>USER ACCOUNT DETAILS</p>
                <button id="account">UPDATE DETAILS</button>
            </div>
            <div class="fieldset">
                <div class="fieldgroup">
                    <div>
                        <label for="current_password">Current Password</label>
                        <input id="current_password" type="password"/>
                    </div>
                </div>
                <div class="fieldgroup">
                    <div style="display: none;">
                        <label for="current_password">Current Password</label>
                        <input id="current_password" type="password"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="bio_modal" class="bio_modal">
        <div class="modal-content">
            <p>BIO DETAILS</p>
            <form action="{% url 'pos:pos' %}" method="post" id="checkout-form">
                {% csrf_token %}
                <input type="hidden" name="checkout" value="true">
                <div class="fieldWrapper">
                    <label for="first_name">First Name</label>
                    <input class="input" type="text" name="first_name" id="first_name" value="{{total_sale_amount}}" required>
                </div>
                
                <div class="fieldWrapper">
                    <label for="amountPaid">Surname</label>
                    <input class="input" type="text" name="amountPaid" id="amountPaid" required>
                </div>
                
                <div class="fieldWrapper">
                    <label for="balance">Username</label>
                    <input class="input" type="number" name="balance" id="balance" readonly>
                </div>
                
                <div class="fieldWrapper">
                    <label for="balance">Email Address</label>
                    <input class="input" type="number" name="balance" id="balance" readonly>
                </div>

                <div class="button-group">
                    <input class="btn-primary" type="submit" value="SAVE"/>
                    <button type="button" id="cancel-checkout" class="btn-secondary"> CANCEL </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block script_block %}
    <script type="text/javascript">
        let bio = document.getElementById("bio");
        let account = document.getElementById("account");
        let bio_modal = document/getElementById("bio_modal");

        window.onload = function () {
            modal.style.display = "block";
        }

        cancel.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target === modal) {
                location.href = "/pos/products/1";
            }
        }

        product.onclick = function () {
            location.href = "/pos/products/1";
        };
    </script>
{% endblock %}
