{% extends 'pos/user/base.html' %}
{% load static %}

{% block title_block %}
    <title>Product</title>
{% endblock %}

{% block body_block %}
    <main>
        <button id="new" class="btn-primary">
            <img alt="home" src="{% static 'images/plus.svg' %}"/>
            ADD NEW
        </button>

        <table class="product">
            <thead>
                <tr>
                    <th>PRODUCT ID</th>
                    <th>PRODUCT NAME</th>
                    <th>UNIT PRICE</th>
                    <th>QUANTITY</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Gilbeys Gin 1Litre</td>
                    <td>1000</td>
                    <td>1</td>
                    <td>
                        <img alt="edit" class="icon" src="{% static 'images/edit.svg' %}"/>
                        <img alt="delete" src="{% static 'images/delete.svg' %}"/>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Gilbeys Gin 1Litre</td>
                    <td>1000</td>
                    <td>1</td>
                    <td>
                        <img alt="edit" class="icon" src="{% static 'images/edit.svg' %}"/>
                        <img alt="delete" src="{% static 'images/delete.svg' %}"/>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Gilbeys Gin 1Litre</td>
                    <td>1000</td>
                    <td>1</td>
                    <td>
                        <img alt="edit" class="icon" src="{% static 'images/edit.svg' %}"/>
                        <img alt="delete" src="{% static 'images/delete.svg' %}"/>
                    </td>
                </tr>
            </tbody>
        </table>

        <div id="modal" class="modal">
            <div class="modal-content">
                <p>ADD NEW PRODUCT</p>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="fieldWrapper">
                        <label for="name">NAME</label>
                        <input class="input" type="text" name="name" id="name" required>
                    </div>

                    <div class="fieldWrapper">
                        <label for="quantity">QUANTITY</label>
                        <input class="input" type="number" name="quantity" id="quantity" required>
                    </div>

                    <div class="fieldWrapper">
                        <label for="price">PRICE in Kshs</label>
                        <input class="input" type="number" name="price" id="price" required>
                    </div>

                    <div class="fieldWrapper">
                        <label for="description">DESCRIPTION</label>
                        <textarea class="input" name="description" id="description" required></textarea>
                    </div>

                    <div class="button-group">
                        <input class="btn-primary" type="submit" value="SAVE"/>
                        <button id="clear" class="btn-secondary">
                            CANCEL
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script type="text/javascript">
        document.getElementById("new").onclick = function () {
            document.getElementById('modal').style.display='block'
        };

        let modal = document.getElementById("modal");

        let btn_new = document.getElementById("new");

        btn_new.onclick = function () {
            modal.style.display = "block";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

    </script>

{% endblock %}