{% extends 'pos/user/base.html' %}
{% load static %}

{% block title_block %}
    <title>Sales</title>
{% endblock %}

{% block body_block %}
    <main>
        {% for message in messages %}
            <div class="message">
                {{ message }}
            </div>
        {% endfor %}

        <table class="product">
            <thead>
                <tr>
                    <th>SALE CODE</th>
                    <th>DATE</th>
                    <th>TIME</th>
                    <th>TOTAL</th>
                    <th>ACTION</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in result_list %}
                <tr>
                    <td>{{ sale.code }}</td>
                    <td>{{ sale.date }}</td>
                    <td>{{ sale.time }}</td>
                    <td>{{ sale.total }}</td>
                    <td>
                        <a class="no-underline" href="{% url 'pos:sale_receipt' sale.sale_id %}">
                            <img alt="print_receipt" src="{% static 'images/print.svg' %}"/>
                        </a>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </main>

    {% block script_block %}
    <script type="text/javascript">
        let modal = document.getElementById("modal");
        let btn_new = document.getElementById("new");
        let cancel = document.getElementById("cancel");
        let edit = document.getElementById("edit");

        btn_new.onclick = function () {
            location.href = "/pos/save_product";
        }

        cancel.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target === modal) {
                modal.style.display = "none";
            }
        }
    </script>
    {% endblock %}

{% endblock %}